<html>
    <head>
        <title>Blog motoryzacyjny</title>
    </head>
    <body>
        <div>
            <h1><a href ="/">Blog motoryzacyjny</a></h1>
        </div>

        <div>
            <p>opublikowano: 21.03.2020 13:50</p>
            <h2><a href="/">Pierwszy post</a></h2>
            <p>If we were to have our way, every major carmaker would be producing their own halo supercars but sadly,
                that’s not the case and likely never will be. Despite this, artist Joseph Robinson has imagined what
                a potential supercar from Mazda could look like.</p>
        </div>

        <div>
            <p>opublikowano: 21:03.2020 13:51</p>
            <h2><a href="/">Drugi post</a></h2>
            <p> While Mazda is a mainstream automaker with a focus on
                economical cars as well as crossovers and SUVs, it has one of the most striking and appealing design
                languages of any automaker. Known as ‘Kodo’, Mazda’s designs show that ‘run-of-the-mill’ cars can look sexy.
                Just take a look at the latest-generation Mazda3; it looks more like a concept car than a production car.</p>
        </div>
    </body>
</html>

