{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock content %}


<!--{%load static%}-->
<!--<html>-->
    <!--<head>-->
        <!--<title>Blog motoryzacyjny</title>-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
        <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
    <!--</head>-->
    <!--<body>-->
        <!--<div class="page-header">-->
            <!--<h1><a href ="/">Blog motoryzacyjny</a></h1>-->
        <!--</div>-->
        <!--<div>-->
            <!--<p><a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">WIKI DJANGO</a></p>-->
        <!--</div>-->

        <!--<div class="content containter">-->
            <!--<div lass="row">-->
                <!--<div class="col-md-8">-->
                    <!--{% for post in posts %}-->
                    <!--<div class="post">-->
                        <!--<div class="date">-->
                            <!--<p>published: {{ post.published_date }}</p>-->
                        <!--</div>-->
                        <!--<h2><a href="">{{ post.title }}</a></h2>-->
                        <!--<p>{{ post.text|linebreaksbr }}</p>-->
                    <!--</div>-->
                    <!--{% endfor %}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--&lt;!&ndash;{% for post in posts %}&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="post">&ndash;&gt;-->
                <!--&lt;!&ndash;<p>published: {{ post.published_date }}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<h2><a href="">{{ post.title }}</a></h2>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>{{ post.text|linebreaksbr }}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
    <!--</body>-->
<!--</html>-->

<!--<html>-->
    <!--<head>-->
        <!--<title>Blog motoryzacyjny</title>-->
    <!--</head>-->
    <!--<body>-->
        <!--<div>-->
            <!--<h1><a href ="/">Blog motoryzacyjny</a></h1>-->
        <!--</div>-->

        <!--<div>-->
            <!--<p>opublikowano: 21.03.2020 13:50</p>-->
            <!--<h2><a href="/">Pierwszy post</a></h2>-->
            <!--<p>If we were to have our way, every major carmaker would be producing their own halo supercars but sadly,-->
                <!--that’s not the case and likely never will be. Despite this, artist Joseph Robinson has imagined what-->
                <!--a potential supercar from Mazda could look like.</p>-->
        <!--</div>-->

        <!--<div>-->
            <!--<p>opublikowano: 21:03.2020 13:51</p>-->
            <!--<h2><a href="/">Drugi post</a></h2>-->
            <!--<p> While Mazda is a mainstream automaker with a focus on-->
                <!--economical cars as well as crossovers and SUVs, it has one of the most striking and appealing design-->
                <!--languages of any automaker. Known as ‘Kodo’, Mazda’s designs show that ‘run-of-the-mill’ cars can look sexy.-->
                <!--Just take a look at the latest-generation Mazda3; it looks more like a concept car than a production car.</p>-->
        <!--</div>-->
    <!--</body>-->
<!--</html>-->

